= stylesheet_bundle 'common','ui'

- theme = 'black'

= stylesheet_link_tag "themes/#{theme}",:t=>'theme'

/[if lt IE 9]
  = stylesheet_link_tag "themes/#{theme}.ie",:t=>'themeie'


/[if !IE 7]
  :css
    #wrap {display:table;height:100%}

= yield :css