- bundle :css_path=>'/bundle_cache',:compress=>false do
  = stylesheet_link_tag 'framework/reset'
  = stylesheet_link_tag 'framework/typography'
  = stylesheet_link_tag 'framework/sticky_footer'

  = stylesheet_link_tag 'screen'
  = stylesheet_link_tag 'layout'
  = stylesheet_link_tag 'ui/form'

= grid_css

- theme = get_user_theme_str

= stylesheet_link_tag "themes/#{theme}",:t=>'theme'

/[if lt IE 9]
  = stylesheet_link_tag "themes/#{theme}.ie",:t=>'themeie'
  - bundle :css_path=>'/bundle_cache_ie',:compress=>false do
    = stylesheet_link_tag 'framework/iefix'
    = stylesheet_link_tag 'ui/form.ie'

/[if !IE 7]
  :css
    #wrap {display:table;height:100%}

= yield :css