<% if current_user %>
  <% read_class = rss_item.read_by?(current_user) ? "read" : "unread"%>
<% else %>
  <% read_class = "no_logged" %>
<% end %>

<div class="rss_item_div <%= read_class %>" >
  <div class="brief">
    <span class="title"><%=h rss_item.title %></span>
    <span class="truncate_description quiet">
      <%= truncate_u(Nokogiri::HTML(rss_item.description).text,50) %>
    </span>
  </div>
  <div class="description hide">
    <div class="author quiet">
      <span>
        作者 <%=rss_item.author || '未知'%>
      </span>
      <span>
        发表于 <%= qdatetimefull_with_line(rss_item.pub_date) %>
      </span>
    </div>
    <div class="dcontent">
      <%=add_target_blank_to_a_in_description rss_item.description %>
    </div>
    <div class="action">
      <span class="fold_button">
        <%= link_to_remote "折叠", :url=>"javascript:void(null)" %>
      </span>
      <%if logged_in?%>
        <%= render :partial=>"/shares/parts/share_operate",:locals=>{:shareable=>rss_item} %>
        <span>
          <input type="checkbox" class="keep_unread">
          <span>保持未读</span>
        </span>
      <%end%>
    </div>
  </div>
</div>
