<!-- 子模板用在了，/rss_items/recently_read_rss_item.erb 和 readings/info_reading中 -->
<div class="rss_item_meta_brief" >
  <h4 class="marginb3"><%= link_to h(rss_item.title),rss_item %></h4>
  <div class="boxfix">
    <% if !rss_item.img_url.blank? %>
      <div class="fright">
        <img alt="<%=h rss_item.title%>" class='logo' style="width:120px;height:90px;" src='<%= RSS_THUMB_SITE+"thumbs?url="+rss_item.img_url %>'/>
      </div>
    <% end %>
    <div class="font12">
      <%= item_text_description(rss_item) %>
      <%= link_to "查看原文&gt;",rss_item.link,:target=>"blank",:class=>'marginl5' %>
    </div>
  </div>
  <div class="quiet margint10">
    <span>
      <%=item_from_link(rss_item)%>
    </span>
    <span class="marginl5">
      <%=rss_item.author || '未知'%>
    </span>
    <span class="marginl5">
      发表于: <%= qdatetimefull_with_line(rss_item.pub_date) %>
    </span>
  </div>
</div>
