<div id="bookmark_summary">
  <%=render(:partial=>"collector/parts/bookmark_summary",:locals=>{:bookmark_entry_url=>web_site_url,:bookmark_entry_title=>title})%>
</div>
<div>增加评注</div>
<% mindpin_remote_form_for Remark.new,:url=>web_site_remarks_path do |f| %>
  <%= hidden_field_tag "domain",web_site_url.url_to_domain %>
  <%= f.text_area :content,:show_label=>false %>
  <%= f.submit t("page.form.submit") %>
<% end %>
<div id="remark_comments">
  <% web_site = WebSite.find_by_domain(web_site_url.url_to_site) %>
  <% if web_site %>
    <%=render(:partial=>"web_site_remarks/parts/remarks",:locals=>{:web_site=>web_site})%>
  <% else %>
    <span>还没有评论</span>
  <% end %>
</div>