<div class="boxfix margint10 marginb10">

  <div class="padding5 fleft height52">
    <%=logo share.creator%>
  </div>

  <div class="padding5 width530 fleft marginl5">
    <div class="font14 share_content">
      <%=qlink share.creator%>：<%= share_content(share) %>
    </div>
    <%= render :partial=>"shares/parts/share_attachment_and_shareable",:locals=>{:share=>share} %>

    <div class="action width530 margint10 boxfix">
      <div class="fleft">
        <%=link_to time_str_by_today(share.created_at), share %>
      </div>
      <%if logged_in?%>
        <div class="fright">
          <% if share.creator == current_user %>
            <span class="marginl5">
              <%= link_to_remote "删除", :url=>share_path(share),:method=>:delete,:confirm=>"确认删除？" %>
            </span>
          <% end %>

          <span class="marginl5">
            <%=render :partial=>"shares/parts/feeling_good_link",:locals=>{:feelable=>share}%>
          </span>
          <span class="marginl5">
            <%= share_count(share) %>
          </span>
        </div>
      <% end %>
    </div>
  </div>

</div>
