<% content_cell do %>
  <% creator = @share.creator %>
  <% link_str = "#{THIS_SITE}users/#{creator.id}" %>
  <div class="fleft" style="margin-left:10px;margin-top:10px;">
    <%= logo creator,'medium' %>
  </div>
  <div class="fleft" style="margin-left:10px;margin-top:10px;">
    <div>
      <%=link_to creator.name, link_str, :class=>"font14 username" %>
    </div>
    <div>
      <%= link_to link_str,link_str,:class=>"font14"  %>
    </div>
    <div class="font14 width530 share_content" style="margin-top:10px;" >
      <%= share_content(@share) %>
    </div>
    <div>
      <%= render :partial=>"shares/parts/share_attachment_and_shareable",:locals=>{:share=>@share} %>
    </div>
  </div>

<% end %>