<%
checked ||=false
used_class = entry.resource.used_for.blank? ? 'unused':'used'
%>

<div class="<%=used_class%> info_div">
  <div class='checkbox'>
    <%= check_box_tag 'entry_ids[]',entry.id,checked %>
  </div>
  <div class="decorate">
    <%= time_str_by_distance_of_now(entry.updated_at) %>
  </div>
  <div class='meta'>
    <%= meta(entry) %>
  </div>
  <div class='actions'>
    <% if entry.resource_type=="BookmarkEntry" %>
      <% bme = entry.resource %>
      <%= link_to_remote "编辑",:url=>edit_entry_path(entry),:method=>:get %>
      <%= link_to "快照",snapshot_entry_path(entry)%>
      <% if bme.is_video_url? %>
        <div class="video_toggle">
          <a class="show_btn">
            <span style="margin:0;padding:0;position:relative;display:inline-block;">
              <%=image_tag bme.image_src%>
              <%=image_tag "/images/feedvideoplay.gif",:style=>"margin-top:-16px;margin-left:-16px;;position:absolute;top:50%;left:50%;opacity:0.7;"%>
            </span>
          </a>
          <div class="toggle_box hide">
            <div><a class="hidden_btn">收起</a></div>
            <div class="video" data-url="<%=bme.video_src%>">
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to "查看详情",entry %>
      <%if current_user%>
        <%= link_to_remote "加入暂存版",:url=>"/users/#{current_user.id}/work_board/add?entry[entry_id]=#{entry.id}",:method=>:post %>
      <%end%>
    <% end %>
  </div>
  <div class='tags'>
    <span><%= entry.tags.map{|tag|tag.value}*" "%></span>
  </div>
</div>