<%rss_feed = subscription.rss_feed%>
<% count = rss_feed.unread_count(current_user) %>
<div>

  <div style="font-weight:bold;font-size:120%;">
    <%= page_link :paper,rss_feed.title,:url=>subscription_path(:id=>subscription.id)%>
    <span class="<%=(count == 0 ? "hide": "")%>">
      <%= "(#{count})" %>
    </span>
  </div>

  <%subscription.unread_rss_items.each do |rss_item|%>
    <div>
      <%=rss_item.title%>
    </div>
  <% end %>
</div>
<%=hr%>