<div class="readable_actions boxfix" style="position:fixed;right:320px;">
  <%# 感觉好 与 取消感觉 之间的切换 %>
  <div class="boxfix">
    <div class="fright">
      <% if logged_in? && readable %>
        <span class="readable_btn">
          <div style="margin-top:8px;">
            <%= render :partial=>"/shares/parts/share_operate_with_two_squares",:locals=>{:shareable=>readable} %>
          </div>
        </span>

        <span class="readable_btn">
          <%=render :partial=>"/feelings/parts/feel_good_or_bad",:locals=>{:feelable=>readable}%>
        </span>

        <%# 感觉不好 %>
        <span class="readable_btn">
          <%= link_to "" ,polymorphic_url([readable,:feeling],:evaluation=>Feeling::BAD),
            :method=>:put,
            :class=>"ui-button unread-bad",
            :id=>"unless_button",
            :title=>'我不喜欢这个' %>
        </span>
      <% end %>

      <span class="readable_btn">
        <%= link_to "", reader_next_path,:class=>"ui-button read-next",:title=>'下一个条目' %>
      </span>
    </div>
  </div>

  <% if readable && logged_in? %>
    <div class="hide">
      <span>
        <%= link_to "查看阅读记录",readings_path %>
      </span>

      <% if readable.reported_by?(current_user) %>
        <span>已经举报</span>
      <% else %>
        <span id="report_button">
          <%= link_to_remote "不良信息举报",
            :url=>polymorphic_url([:new,readable,:report]),
            :method=>:get %>
        </span>
      <% end %>

      <span>
        <%= link_to "查看不喜欢的",reader_unlike_path %>
      </span>

      <span>
        <%= link_to "查看自己的举报记录",reports_path %>
      </span>
    </div>
  <% end %>
</div>