<div class="font13">
  <div id="update_data">
    <span>更新用户数据</span>
  </div>
  <div id="send_email">
    <span>发送欢迎邮件</span>
  </div>

  <%if params[:install_mindmap]%>
    <div id="set_app">
      <span>设置默认应用</span>
    </div>
  <%end%>

  <div id="v09_u_c" class="hide">
    <div style="font-size:16px;margin:10px 0;color:red;font-weight:bold;">账号升级完毕 :)</div>
    <div>
      <span>您获得了成就</span>
      <div id="achievement" style="margin:10px 0;">
        <%=show_honor_detail('v09')%>
      </div>
    </div>
    <%=hr%>
    <div>
      <%=link_to "&gt; 返回首页","/"%>
    </div>
    <div>
      <%=link_to "&gt; 访问思维导图","/app/#{App::MINDMAP_EDITOR}"%>
    </div>
  </div>

</div>
<%content_for :javascripts do%>
  <script type="text/javascript">
    function update(items){
      if(items.length==0){
        update_complate()
        return
      }
      var update_item = items.first()
      var update_data = $(update_item);
      update_data.setStyle({"color":"red"})
      var periodocal = new PeriodicalExecuter(function(pe){
         Insertion.Bottom(update_data, new Element('span',{}).update('...'))
       }, 0.3);
      new Ajax.Request("/v09_up",{
        method: 'put',
        parameters:{update_item: update_item},
        onSuccess: function(transport){
          update_data.setStyle({"color":""})
          periodocal.stop();
          Insertion.Bottom(update_data, new Element('span',{}).update('ok'))
          items.shift()
          update(items)
        }
      }
    );
    };

    function update_complate(){
      $('v09_u_c').removeClassName("hide")
      $($("achievement").firstChild).highlight();
    };

    document.observe("dom:loaded",function(){
      update(<%=@update_items.to_json%>)
    })
    
  </script>
<% end %>
