<h2><%="#{@user.name} 重设密码"%></h2>
<%=flash_info%>
<%mindpin_form_for @user,:url=>change_password_path(:pw_code=>params[:pw_code]) do |f|%>
  <%= f.password_field :password,:size=>25,:maxlength=>255 %>
  <%= f.password_field :password_confirmation,:size=>25,:maxlength=>255 %>
  <%= f.submit "确定",:class=>"ui-button" %>
<%end%>
