<%if logged_in?%>
<div id="collector_box">
  <div style="margin:32px 0 20px 0;border-bottom:solid 2px;padding-left:5px;">
    <a class="btn tab active">上传文本</a>
    <a class="btn tab">上传文件</a>
    <a class="btn tab">网页收集</a>
  </div>

  <div style="padding:5px;">
    <div>
      <span>当前URL</span>
      <span id="parent_url"><%=@web_site_url%></span>
    </div>

    <div>
      <span>当前网页标题</span>
      <span id="parent_title"><%=@title%></span>
    </div>

    <div style="margin:10px">
      <%=flash_info%>
    </div>

    <div class="item">
      <%= render :partial=>"collector/parts/upload_text",:locals=>{:entry=>@entry} %>
    </div>

    <div class="item hide">
      <%= render :partial=>"collector/parts/upload_file",:locals=>{:entry=>@entry} %>
    </div>

    <div class="item hide">
      <%= render :partial=>"collector/parts/web_site",:locals=>{:remark=>@remark,:title=>@title,:web_site_url=>@web_site_url}  %>
    </div>
  </div>

</div>
<%content_for :javascripts do%>
  <script type="text/javascript">
    <%= javascript_include_tag 'views/tab_box' %>
    new TabBox($('collector_box'))
  </script>
<%end%>

<%else%>
<div id="collector_box">
  <div style="margin:32px 0 20px 0;border-bottom:solid 2px;padding-left:5px;">
    还没有登录，<%=link_to '点此登录','/login',:target=>'_blank'%>
  </div>
</div>
<%end%>