<% cell_head do %>
  <h2>
    <%= truncate_u(message.content,16) %>
  </h2>
  <%
  return_str = case params[:display_mode]
  when 'in' then I18n.t("page.messages.return_inbox")
  when 'out' then I18n.t("page.messages.return_outbox")
  when 'draft' then I18n.t("page.messages.return_draftbox")
  end
%>
  <%= link_to return_str,messages_path(:box=>params[:display_mode]) %>
  <div style="overflow:hidden;">
    <% message.participants.each do |user| %>
      <div title="<%= user.name %>" class="fleft marginr5">
        <%= logo user,:mini %>
      </div>
    <% end %>
  </div>
<% end %>

<% mplist message.in_messages_of(current_user),:for=>[message,Message],:filter=>"" do |each_message|%>
  <%= render :partial=>'messages/detail_message',:locals=>{:message=>each_message} %>
<% end %>


<div>
  <% if message.has_draft_reply_message?(current_user)%>
    <% has_draft_reply = true %>
    <% hide_str = "hide" %>
  <% else %>
    <% has_draft_reply = false %>
    <% hide_str = "" %>
  <% end %>

  <%= link_to_remote t("page.messages.reply"),:url=>new_message_path(:message=>{:reply_to=>message.id}),:method=>:get,:html=>{:class=>"#{hide_str} reply"}  %>
  
  <% if has_draft_reply%>
    <%= render :partial=>'messages/form_message',:locals=>{:message=>message.draft_reply_message_of(current_user)} %>
  <% end %>
</div>
