<div class="info_div">
  <div class='meta'>
    <div>
      <%= app.name %>
    </div>
    <div>
      <%= app.title %>
    </div>
    <div>
      <%= app.developer %>
    </div>
    <div>
      <%= app.subject %>
    </div>
    <div>
      <%= app.callback_url %>
    </div>
    <div>
      <%= app.secret_key %>
    </div>
    <div>
      <%= app.installings.count %>
    </div>
    <div>
      <%=logo app %>
    </div>
  </div>
  <div class='action'>
    <%= link_to_remote "删除",:url=>admin_app_path(app),:method=>:delete,:confirm=>"确定删除？" %>
  </div>
</div>
