<%if User.find_by_email(invitation.contact_email).blank?%>
  <div class="index-box-left">
    <h2>欢迎访问 MindPin v4 :) </h2>
    <span class="please-login">请补充少许资料完成注册</span>
    <%=flash_info%>
    <%mindpin_form_for user,:url=>"/invit_create/#{invitation.uuid}" do |f|%>
      <%=f.hidden_field :email,:value=>invitation.contact_email%>
      <%=f.text_field :name,:maxlength=>50%>
      <%=f.password_field :password,:value=>'',:maxlength=>32%>
      <%=f.password_field :password_confirmation,:value=>'',:maxlength=>32%>
      <%=f.submit "确认注册",:class=>"ui-button"%>
    <%end%>
  </div>

  <div class="index-box-right">
    <div class="right-inner">
      <h2>您正在被朋友/工作伙伴邀请使用 MindPin </h2>
      <span>如果您完成左侧的表单，您将使用这个邮箱地址注册</span>
      <div style="color:#C73115;font-size:20px;font-weight:bold;margin:8px 0;">
        <%="#{invitation.contact_email}" %>
      </div>
      <%=render :partial=>'index/desc'%>
    </div>
  </div>
<%else%>
  <div class="index-box-left">
    <h2>欢迎访问 MindPin v4 :) </h2>
    <span class="please-login">当前邀请的邮箱已经完成了注册</span>
    <div style="color:#C73115;font-size:20px;font-weight:bold;margin:8px 0;">
      <%="#{invitation.contact_email}" %>
    </div>
    <%form_tag({:controller=>'sessions',:action=>'create'},{:class=>'common_form login-form'}) do%>
      <%=hidden_field_tag :email,invitation.contact_email%>
      <span class="please-login">请输入密码登陆</span>
      <div class="p">
        <label><%=t('activerecord.attributes.user.password')%></label>
        <%=password_field_tag :password,params[:password],:class=>'text'%>
      </div>
      <div class="login-submit">
        <div class="fleft remember-me">
          <span><%=check_box_tag :remember_me,params[:remember_me],false,:class=>'checkbox'%></span>
          <span><%=t('page.index.remember_me')%></span>
        </div>
        <div class="fright">
          <span class="ui-button-span">
          <%=submit_tag t('page.index.login'),:class=>"ui-button"%>
          </span>
        </div>
      </div>
    <%end%>
  </div>

  <div class="index-box-right">
    <div class="right-inner">
      <h2>我已经注册过账号了！</h2>
      <span>请直接登录</span>
      <br/><br/><br/>
      <h2>我想不起来我的密码了？</h2>
      <span>点这里<a href="/forgot_password_form">找回密码</a></span>
    </div>
  </div>
<%end%>