<% checked ||= false %>
<div class="info_div">
  <div class='checkbox'>
    <%= check_box_tag 'tag_ids[]',tag.id,checked %>
  </div>
  <div class="decorate">
    <%= time_str_by_distance_of_now(tag.updated_at) %>
  </div>
  <div class='meta'>
    <%= meta(tag) %>
  </div>
  <div class='actions'>
    <%= link_to_remote t("page.tags.edit"),:url=>edit_tag_path(tag),:method=>:get %>
  </div>
  <div class='tags'>
    <% tag.related_tags.each do |tag_relate| %>
      <%=tag_relate.value%>
    <% end %>
  </div>
</div>