<% checked ||=false %>
<div class="info_div">
  <div class='checkbox'>
    <%= check_box_tag 'taggable_ids[]',taggable.id,checked%>
  </div>
  <div class="decorate">
    <%= time_str_by_distance_of_now(taggable.updated_at) %>
  </div>
  <div class='meta'>
    <%= meta(taggable) %>
  </div>
  <div class='actions'>

  </div>
  <div class='tags'>
    <% if !taggable.blank? %>
      <% taggable.tags.each do |tag| %>
        <span style=<%= tags.include?(tag) ? "color:red" : "" %>>
          <%= link_to tag.value,"/tags/#{tag.value}"%>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
