<div class="info_div">
  <div class="decorate">
    <div>
      <%= "#{web_site.creators_of_relative_bookmark_entries.count}人收藏了" %>
    </div>
    <div>
      <%= "#{web_site.relative_bookmark_entries.count}个书签" %>
    </div>
  </div>
  <div class="meta">
    <%= meta web_site %>
  </div>
  <div>
    <span>好(<%=web_site.count_of_feel_good%>)</span>
    <span>差(<%=web_site.count_of_feel_bad%>)</span>
  </div>
  <div>
    <%= link_to "查看",web_site %>
  </div>
</div>