<% content_cell do %>
  <div class="meta">
    <%= meta @web_site %>
  </div>
  <%=render :partial=>"/feelings/parts/user_feeling",:locals=>{:feelable=>@web_site} %>

  <% tab_panel do %>

    <% urls = @web_site.relative_urls%>
    <% tabi "相关书签(#{urls.size})" do %>
      <%=render :partial=>"/web_sites/parts/relative_bookmark_entries",:locals=>{:urls=>urls}%>
    <% end %>

    <% tabi "评论" do  %>
      <%mplist @web_site.remark_comments,:for=>[@web_site,Remark::Comment]%>
      <div>增加评注</div>
      <% mindpin_remote_form_for Remark.new,:url=>web_site_remarks_path,:html=>{:class=>"comment_form"} do |f| %>
        <%= hidden_field_tag "from","index" %>
        <%= hidden_field_tag "site",@web_site.domain %>
        <%= f.hidden_field :reply_to %>
        <%= f.text_area :content,:show_label=>false %>
        <%= f.submit t("page.form.submit") %>
      <% end %>
    <% end %>

    <% tabi "简介" do %>
      <%=render :partial=>"/introductions/parts/introduction",:locals=>{:introductable=>@web_site}%>
    <% end %>

  <% end %>


<% end %>

