<div class="info_div paddingb30 nb">
  <div class="decorate">
    <div class="subscriber_count"><%=rss_feed.subscriber_count%></div>

    <div class="subscription">
      <%if logged_in?%>
        <% if rss_feed.subscripted_by?(current_user) %>
          <span>已订阅</span>
        <%else%>
          <a class="rss_feed_submit" href="#" data-tip-title="确定订阅 <%=rss_feed.title%> 吗？" data-submit-method="post" data-submit-url="<%=subscription_entries_path(:rss_feed_id=>rss_feed.id)%>">订阅</a>
        <% end %>
      <%else%>
        <span>订阅</span>
      <% end %>
    </div>

  </div>
  <div class="meta">
    <%= meta rss_feed %>
  </div>
  <div>
    <span class="good_vote"><span class="num"><%=rss_feed.count_of_feel_good%></span> 好</span>
    <span class="bad_vote"><span class="num"><%=rss_feed.count_of_feel_bad%></span> 差</span>
  </div>
</div>
