<%content_for :panel do%>
  <%= render :partial=>"entries/cell_selector" %>
<%end%>

<%content_cell do-%>
  <%if params[:entry_show]%>
    <%src = polymorphic_url([current_user,:entry_show],:entry_show=>params[:entry_show],:format=>:js)%>
    <div class="flash-notice">
      <%=h("<script type='text/javascript' src='#{src}'></script>")%>
    </div>
  <% end %>

  <%form_tag user_entry_show_path(current_user) do%>
    <div>
      <span>资源类型</span>
      <span style="padding-right:10px;"><%=check_box_tag "entry_show[types][]","TextEntry",true%><span>文本</span></span>
      <span style="padding-right:10px;"><%=check_box_tag "entry_show[types][]","FileEntry",true%><span>文件</span></span>
      <span style="padding-right:10px;"><%=check_box_tag "entry_show[types][]","BookmarkEntry",true%><span>书签</span></span>
    </div>

    <div>
      <span>资源个数</span>
      <span><%=text_field_tag "entry_show[count]",10%></span>
    </div>

    <div>
      <span>显示风格</span>
      <span style="padding-right:10px;"><%=radio_button_tag 'entry_show[style]',"new",true%><span>最新</span></span>
      <span style="padding-right:10px;"><%=radio_button_tag 'entry_show[style]',"rand"%><span>随机</span></span>
    </div>
    <%=submit_tag "生成代码"%>
  <%end%>
<%end%>