<span class="line">|</span>

<span class="hide">
  <%= link_to t("page.entries.resource_manage"),entries_path(:type=>'file')%>
</span>
<span class="line hide">|</span>

<span class="hide">
  <%= link_to "TAG",tags_path %>
</span>
<span class="line hide">|</span>

<span class="hide">
  <%= link_to t("page.messages.station_message"),messages_path(:box=>'in')%>
</span>
<span class="line hide">|</span>

<span class="hide">
  <%= link_to t("page.apps.app"),apps_path %>
</span>
<span class="line hide">|</span>

<span class="hide">
  <%= link_to t('page.my_info.contact'),contacts_path %>
</span>
<span class="line hide">|</span>

<span>
  <%= link_to '漫游阅读',reader_path %>
</span>
<span class="line">|</span>

<span>
  <%= link_to '订阅阅读',subscriptions_path %>
</span>
<span class="line">|</span>

<span class="hide">
  <%= link_to t('page.web_sites.web_sites'),web_sites_path %>
</span>
<span class="line hide">|</span>

<span>
  <%= link_to "订阅源",rss_feeds_path %>
</span>
<span class="line">|</span>

<span>
  <%= link_to "暂存板","#",:onclick=>"pie.WorkBoard.show({width:500,height:500,user_id:#{current_user.id}});return false;" %>
</span>
<span class="line">|</span>

<span>
  <%= link_to t('page.my_info.set'),settings_path %>
</span>
<span class="line">|</span>

<%current_user.usually_used_apps.uniq.each do |app|%>
  <span>
    <%= link_to app.title,"/app/#{app.name}" %>
  </span>
  <span class="line">|</span>
<% end %>

<span class="hide">
  <%= link_to "修改主题","javascript:void(null)",:id=>"change_theme_link" %>
</span>
<span class="line hide">|</span>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'views/change_theme' %>
  <script type="text/javascript">
    new ChangeThemeWithFloatDiv($('change_theme_link'));
  </script>
<% end %>
