<%mindpin_form_for @user do |f|%>
  <%=f.text_field :email,:maxlength=>50%>
  <span class="quiet">必填，用于登录</span>
  <%=f.text_field :name,:maxlength=>50%>
  <span class="quiet">显示的名称，必填，以后可以修改</span><br/>
  <%=f.password_field :password,:value=>'',:maxlength=>32%>
  <%=f.password_field :password_confirmation,:value=>'',:maxlength=>32%>
  <div class="reg-submit">
    <%=f.submit "确认注册"%>
  </div>
<%end%>