<% mindpin_remote_form_for [reportable,report] do |f| %>
  <div>
    <%= f.radio_button :reason, Report::POLITICAL %><%=Report::POLITICAL_STR%>
  </div>
  <div>
    <%= f.radio_button :reason, Report::PORNOGRAPHIC %><%=Report::PORNOGRAPHIC_STR %>
  </div>
  <div>
    <%= f.radio_button :reason, Report::ATTACK %><%=Report::ATTACK_STR %>
  </div>
  <div>
    <%= f.radio_button :reason, Report::ADVERTISEMENT %><%=Report::ADVERTISEMENT_STR %>
  </div>
  <div>
    <%= f.radio_button :reason, Report::OTHER %><%=Report::OTHER_STR %>
  </div>
  <div>
    <%= f.text_area :content %>
  </div>
  <%= f.submit t("page.form.submit") %>
<% end %>
